.home--content{
    height: auto;
    display: flex;
    gap: 5px;
}

.home--introduction{
    padding-top: 1rem;
    width: 100%;
    height: 100%;
}

.home-introduction--heading{
    font-size: 40px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.home-introduction-heading--focus-name{
    color: var(--primary-color)
}

.home-avatar--image{
    width: 20rem;
    min-width: 20rem;
    aspect-ratio: 0.75;
}

@media screen and (max-width: 600px){
   
    .home-introduction--heading{
        padding: 10px;
        text-align: center;
    }

    .home--github-activity{
        display: none;
    }

    .home--content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: end;
    }
}