.project--main{
    height: auto;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.project--content{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}