.project-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-main--header{
    width: 90%;
    align-self: center;
    margin-block-start: 20px;
    margin-block-end: 10px;
    font-size: 30px;
    font-family: monospace;
}

.project-header--tags{
    display: flex;
    gap: 0.5rem;
    width: auto;
    overflow: hidden;
}

.project-header-tags--container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: auto;
}


.project--markdown-viewer{
    align-self: center;
    height: auto;
    width: 80%;
}