.project-thumbnail--main{
    background-color: blue;
    width: 500px;
    height: 300px;
}

.project-thumbnail--name-banner{
    position: relative;
    width: 400px;
    height: 40px;
    background-color: var(--primary-light-color);
    bottom: 50px;
    transform: skewX(-25deg);
    margin-inline-start: 20px;
    text-align: center;
    font-size: 25px;
}