@import "tailwindcss";

:root {
  --primary-color: #0d9488;
  --primary-light-color: #0d9489a4;
  --background-dark-color: #242424;
  --background-ultra-dark-collor: #171717;
  --foreground-darkmode-color: whitesmoke;
  --overlay-upper-z-index: 100;
  --panel-border-radius: 8px;
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--foreground-darkmode-color);
  background-color: var(--background-dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}